@import "./Theme.scss";

@mixin flexbox ($width){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $width;
}
.Header-items{
    width: 40%;
    // @media screen and (min-width: 350px){
    //     .Header-items{
    //         width: 10%;
    //     }
    // }
}

.logo{
    @include flexbox(40%);
    .logoTypography{
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        font-family: SF-Body-font;
        color: #000000;
        // @media (min-width: 350px){
        //     @include flexbox(60%);
        //     display: inline-block;
        // }
    }
}
.search_section{
    @include flexbox(20%);
    button{
        color: $headerIconColor;
    }
}

.MegaMenu{
    background: none !important;
    border: none !important;
    
    .a.p-menuitem-link{
        background-color: transparent;
    }
    a.p-menuitem-link:hover{
        background-color: transparent !important;
        border-radius: none !important;
    }
    .p-menuitem{
        border-radius: transperent !important; 
    }
    .p-menuitem:hover{
        border-radius: transperent !important;
    }
  
}